.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-container {
  min-height: 100vh;
  padding-top: 60px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}
.App-inner-container {
  width: 377px;
  padding: 24px 16px;
  border-radius: 8px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.inputBox {
  width: 246px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  padding-inline: 16px;
}

.addButton {
  width: 59px;
  height: 42px;
  background-color: #0095ff;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.allTaskButton {
  width: 37px;
  height: 32px;
  background-color: #0095ff;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.activeTaskButton {
  width: 56px;
  height: 32px;
  background-color: #0095ff;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.completedTaskButton {
  width: 82px;
  height: 32px;
  background-color: #0095ff;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.activityLogButton {
  width: 102px;
  height: 32px;
  background-color: #0095ff;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.addTaskContainer {
  width: 345px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterButtons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  column-gap: 6px;
  padding-left: 16px;
}
.todoTask {
  width: 345px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteButton {
  border: none;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  color: #ef4444;
  border-radius: 6px;
  padding-inline: 12px;
  background-color: #fef2f2;
}

.pinecone {
  color: #3b73ed;
}
.taskCompleted {
  border-top: 1px solid #e4e4e7;
  justify-content: space-between;
}
.clearButton {
  border: none;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  color: #ef4444;
  background-color: transparent;
}
.footer {
  padding-top: 40px;
}
